[submodule "TeamCode/src/main/java/org/firstinspires/ftc/teamcode/subsystems"]
	path = TeamCode/src/main/java/org/firstinspires/ftc/teamcode/subsystems
	url = https://github.com/Westwood-Boomerang/subsystems.git
